.shopping-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
}

.notification {
    font-family: 'Fira Sans', sans-serif;
    color: #fefae0;
}

.shopping-cart-title {
    color: #fefae0;
    font-size: 24px;
}

.cart-header {
    display: flex;
    flex-direction: row;
    background-color: #264653;

    border-bottom: 0px;
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px;
    height: 30px; 
}

.header-text {
    color: #fefae0;
    font-size: 16px;
    margin-top: 6px;
}

.header-item {
    margin-left: 30px;
    width: 100px;
}

.header-quantity {
    margin-left: 35px;
    width: 100px;
}

.header-unit {
    margin-left: 35px;
    width: 100px;
}

.header-cost {
    margin-left: auto;
    margin-right: 5px;
    width: 50px;
}

.product-row {
    display: flex;
    flex-direction: row;
    background-color: #fefae0;
    border: 1px solid #264653;
    border-bottom: 0px;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #264653;
    font-size: 16px;
}

.cart-product-name {
    margin-left: 10px;
    width: 100px;
}


.cart-product-quantity {
    margin-left: 75px;
    width: 100px;
    align-self: center;
}

.cart-product-unit-price {
    margin-left: 30px;
    width: 100px;
    align-self: center;
}

.cart-product-price {
    margin-left: auto;
    margin-right: 5px;
    width: 50px;
    align-self: center;
}

.receipt-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background-color: #264653;
    color: #fefae0;
    font-size: 16px;
    border-top: .5px solid #fefae0;
    border-bottom: .5px solid #fefae0;
    padding-left: 10px;
    padding-right: 17px;
}

.total-price {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
