.navbar {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    width: 50%;
    background-color: #f4a261;
    z-index: 99;
    height: 80px;
}

.logo {
    width: 25px;
    margin-left: 15px;
}

.nav-button{
    background-color: transparent;
    border: none;
    color: white;
    margin: 0px;
    font-size: 16px;
}